<div id="popup">
  
    <h2>Miss {{ inputdata.name }} Nichols</h2>


  <div class="info">
    <p>Address</p>
    <p class="details"> 8929 Valwood Pkwy, Billings, Michigan, United States, 63104
    </p>
  </div>

  <div class="info">
    <p>email</p> <p class="details">jennie.nichols</p>
  </div>
  
  <div class="info">
      <p>phone</p> <p class="details">(272) 790-0888</p>
      <p>cell</p> <p class="details">(489) 330-2385</p>
    
  </div>

  <div class="info">
    <p>nat</p> <p class="details">US</p>
  </div>

  <div mat-dialog-actions>
    <button (click)="closepop()" mat-raised-button><</button>
  </div>
</div>
