<div id="popup">
  
  <h2>{{ inputdata.contact.nameTitle }} {{ inputdata.contact.nameFirst }} {{ inputdata.contact.nameLast }}</h2>


  <div class="info">
    <p>Address</p>
    <p class="details">
      {{ inputdata.contact.streetNumber }}
      {{ inputdata.contact.streetName }}, {{ inputdata.contact.city }}, {{ inputdata.contact.country }}, {{ inputdata.contact.state }}, {{ inputdata.contact.postcode }}
    </p>
  </div>

  <div class="info">
    <p>email</p> <p class="details">{{ inputdata.contact.email }}</p>
  </div>
  
  <div class="info">
      <p>phone</p> <p class="details">{{ inputdata.contact.phone }}</p>
      <p>cell</p> <p class="details">{{ inputdata.contact.cell }}</p>
    
  </div>

  <div class="info">
    <p>nat</p> <p class="details">{{ inputdata.contact.nat }}</p>
  </div>

  <div mat-dialog-actions>
    <button (click)="closepop()" mat-raised-button><</button>
  </div>
</div>
