<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />

<!DOCTYPE html>
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Address Book</a>
    <form class="d-flex">
      <input onchange="search(filter.value)" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #filter>
      <button (click)="search(filter.value)" class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="main">
  <mat-card *ngFor="let contact of contacts">
    <mat-card-header>
      <img mat-card-avatar src="{{ contact.picture }}" alt="Contact photo" />
      <mat-card-title>{{ contact.nameTitle }} {{ contact.nameFirst }} {{ contact.nameLast }}</mat-card-title>
      <mat-card-actions align="end">
        <button (click)="openDialog(contact.id)"
                mat-stroked-button
                matTooltip="Info about the contact">
          <mat-icon aria-label="Example info icon">info</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-header>
    <mat-card-content>{{ contact.phone }}</mat-card-content>
    <mat-card-footer>{{ contact.state }}, {{ contact.country }}</mat-card-footer>
  </mat-card>
</div>


